<!-- <!DOCTYPE html> -->
<!-- <html lang="en"> -->
<!--   <head> -->
<!--     <meta charset="utf-8">
    <title>Exact.li</title>
  
    <link rel="stylesheet" type="text/css" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100' rel='stylesheet' type='text/css'> -->

    <!-- start wufoo forms tags-->

    <!-- Meta Tags -->
<!--       <meta charset="utf-8">
      <meta name="generator" content="Wufoo">
      <meta name="robots" content="index, follow"> -->

    <!-- CSS -->
<!--       <link href="css/structure.css" rel="stylesheet">
      <link href="css/form.css" rel="stylesheet"> -->

    <!-- JavaScript -->
      <script src="scripts/wufoo.js"></script>

  <!-- end wufoo forms tags -->

<!--   </head> -->
<body class="home logged-out">

<div class="row">
  <nav class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a href="https://Exact.li/" class="brand logo">
          <img src="assets/Exactli-logotag.png" alt="Exact.li">
        </a>
        <div class="nav-collapse">
          <ul class="nav actions">
            <!--
                <li><a href="#" data-reveal-id="signup">Sign Up</a></li>
                <li><a href="#" data-reveal-id="signup">Sign In</a></li>
            -->
          </ul>

        </div>
      </div>  
    </div>
  </nav>
 </div>


<div class="hero-unit clearfix">
  <div class ="row sprimary">
    <div class = "call">
      Simple, user friendly, drawing review tool. Create accurate drawings with collaborative project team reviews.</span>
    </div>
    <br>
    <br>
    <br>
   <a class="btn btn-green" href="#signup" data-target="#signup-modal">Sign Up!</a>
  </div>
  <div class="scontent">
 <img src="assets/exact_browser.png" alt="Screen_shot" width ="834" height ="587">
</div>
</div>

    <div class="row clearfix">
          <div class = "container">
            <br>
            <br>
            <br>
            <div class = "pagination-centered center lheading">
              Features
            <p class="subd">
              (Here's what you get)
            </p>
            </div>
            <div>
              <ul>
                <li>
                  <div class ="primary pagination-centered">
                    <p class = "mhead"> Collaborative</p>
                    <p class = "icon center"><a href = "Marketing_page.html"><img src="assets/Collaborative.png" alt="Collaborative"></a></p>  
                    <p class = "subd"> All team members give feedback on project drawings</p>
                  </div>
                </li>
              <li>
                  <div class ="content pagination-centered">
                    <p class = "mhead"> Version Control</p>
                    <p class = "icon center"><a href = "Marketing_page.html"><img src="assets/Version.png" alt="Version Control"></a></p>  
                    <p class = "subd"> View current and older versions of proj. drawings</p>
                  </div>
              </li>
              <li>
                  <div class ="secondary pagination-centered">
                    <p class = "mhead"> Paper Trail</p>
                     <p class = "icon center"><a href = "Marketing_page.html"><img src="assets/Trail.png" alt="Version Control"></a></p>
                    <p class = "subd"> Export comments with comments for QA/QC records</p>
                  </div>
              </li>
            </ul>
              <br>
              <br>
              <br>
            </div>
          </div>
    </div>

   <div class ="hero-unit2">
    <div class = "row pagination-centered">
      <div class = "pagination-centered center lheading">
              How it works
            <p class="subd">
              (Actually pretty simple)
            </p>
            </div>
      <img src="assets/how.png" alt="How it Works" width ="709" height = "498">
    </div>
  </div>
  <div class = "row">
    <br>
    <br></div>

  <div class = "row pagination-centered hero-unit3 shadow">
    <div class="large-6 columns hero-unit3">

        <!--wufoo forms html-->

  <div class="center" id = "signup">
      <form id="form1" name="form1" class="wufoo  page" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
      action="https://exactli.wufoo.com/forms/z7x3p3/#public">

      <header id="header" class="info">
      <p class = "mhead">Sign up to stay informed!</p>
      <div class = "subd">Be the first to get invited to our beta.</div>
      </header>

  <ul>
    <li id="foli2" class="notranslate      "><label class="desc" id="title2" for="Field2">Name<span id="req_2" class="req">*</span> 
    </label>
    <span>
        <input id="Field2" name="Field2" type="text" class="field text fn" value="" size="8" tabindex="1" required />
        <label for="Field2">First</label>
    </span>
    <span>
        <input id="Field3" name="Field3" type="text" class="field text ln" value="" size="14" tabindex="2" required />
        <label for="Field3">Last</label>
    </span>
    </li>

    <li id="foli0" class="notranslate      ">
        <label class="desc" id="title0" for="Field0">
        Email Address
        <span id="req_0" class="req">*</span>
        </label>
  <div>
        <input id="Field0" name="Field0" type="email" spellcheck="false" class="field text large" value="" maxlength="255" tabindex="3" required /> 
  </div>
    </li>
    <li id="foli5" class="notranslate      ">
<label class="desc" id="title5" for="Field5">
Company
<span id="req_5" class="req">*</span>
</label>
<div>
<input id="Field5" name="Field5" type="text" class="field text medium" value="" maxlength="255" tabindex="4" onkeyup="" required />
</div>
</li>

    <li class="btn btn-green">
      <div>
          <input id="saveForm" name="saveForm" class="btTxt submit" type="submit" value="Submit"/></div>
    </li>

<li class="hide">
<label for="comment">Do Not Fill This Out</label>
<textarea name="comment" id="comment" rows="1" cols="1"></textarea>
<input type="hidden" id="idstamp" name="idstamp" value="fRORJxH2vk6uJshh1j/MdUm5ga+1SO2KtP5EyZhgkoM=" />
</li>
</ul>
</form> 

</div><!--container-->

<a class="powertiny" href="http://wufoo.com/form-builder/" title="Powered by Wufoo"
style="display:block !important;visibility:visible !important;text-indent:0 !important;position:relative !important;height:auto !important;width:95px !important;overflow:visible !important;text-decoration:none;cursor:pointer !important;margin:0 auto !important">
<span style="background:url(./images/powerlogo.png) no-repeat center 7px; margin:0 auto;display:inline-block !important;visibility:visible !important;text-indent:-9000px !important;position:static !important;overflow: auto !important;width:62px !important;height:30px !important">Wufoo</span>
<b style="display:block !important;visibility:visible !important;text-indent:0 !important;position:static !important;height:auto !important;width:auto !important;overflow: auto !important;font-weight:normal;font-size:9px;color:#777;padding:0 0 0 3px;"></b>
</a>

<!-- end wufoo forms html-->

    </div>
  </div>
  <div class = "row">
    <br>
    <br>
  </div>



        <!-- LOGIN MODAL =========== -->

        <div class="reveal-modal" id="login">
        <a class="close" data-dismiss="modal">x</a>
        <h1>Log in to Exactli</h1> -->
        
        <form class="connect-button" name="login" method="post" action="/social/twitter/redirect/" id="twitter-connect-form">
          <div style="display:none">
            <input type="hidden" name="csrfmiddlewaretoken" value="oFo2oNx85EPupgqHaD06bhW7yg17dMus">
          </div>
          <a href="#" onclick="$('#twitter-connect-form').submit(); return false;" class="signup-twitter signup-btn" id="twitter_button">
            <i></i>
            Log in with Twitter
          </a>
        </form>
      
 
        <form action="/login" method="POST" autocomplete="off">
          <fieldset>
            <input type="text" placeholder="Username or email" name="username" maxlength="30" id="id_username">
            <input type="password" placeholder="Password" name="password" id="id_password"> 
            <input type="submit" value="Log in" class="btn">
          </fieldset> 
          <a href="/accounts/password/rest/">
            <span>Forgot password?</span>
          </a>
           . 
          <a href="#">
            <span>Sign up to Exact.li</span>
          </a>
        </form>
      </div> 
<!--   </body>
</html> -->

