<!-- <!DOCTYPE html> -->
<!-- <html lang="en"> -->
<!--   <head> -->
<!--     <meta charset="utf-8">
    <title>Exact.li</title>
  
    <link rel="stylesheet" type="text/css" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100' rel='stylesheet' type='text/css'> -->

    <!-- start wufoo forms tags-->

    <!-- Meta Tags -->
<!--       <meta charset="utf-8">
      <meta name="generator" content="Wufoo">
      <meta name="robots" content="index, follow"> -->

    <!-- CSS -->
<!--       <link href="css/structure.css" rel="stylesheet">
      <link href="css/form.css" rel="stylesheet"> -->

    <!-- JavaScript -->
      <script src="scripts/wufoo.js"></script>

  <!-- end wufoo forms tags -->

<!--   </head> -->
<body class="home logged-out">

<div class="row">
  <nav class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a href="https://Exact.li/" class="brand logo">
          <img src="assets/Exactli-logotag.png" alt="Exact.li">
        </a>
        <div class="nav-collapse">
          <ul class="nav actions">
            <!--
                <li><a href="#" data-reveal-id="signup">Sign Up</a></li>
                <li><a href="#" data-reveal-id="signup">Sign In</a></li>
            -->
          </ul>

        </div>
      </div>  
    </div>
  </nav>
 </div>


<div class="hero-unit clearfix">
  <div class ="row sprimary">
    <div class = "call">
      Simple, user friendly, drawing review tool. Create accurate drawings with collaborative project team reviews.</span>
    </div>
    <br>
    <br>
    <br>
  </div>
  <div class="scontent">
 <img src="assets/exact_browser.png" alt="Screen_shot" width ="834" height ="587">
</div>
</div>

    <div class="row clearfix">
          <div class = "container">
            <br>
            <br>
            <br>
            <div class = "pagination-centered center lheading">
              Features
            <p class="subd">
              (Here's what you get)
            </p>
            </div>
            <div>
              <ul>
                <li>
                  <div class ="primary pagination-centered">
                    <p class = "mhead"> Collaborative</p>
                    <p class = "icon center"><a href = "Marketing_page.html"><img src="assets/Collaborative.png" alt="Collaborative"></a></p>  
                    <p class = "subd"> All team members give feedback on project drawings</p>
                  </div>
                </li>
              <li>
                  <div class ="content pagination-centered">
                    <p class = "mhead"> Version Control</p>
                    <p class = "icon center"><a href = "Marketing_page.html"><img src="assets/Version.png" alt="Version Control"></a></p>  
                    <p class = "subd"> View current and older versions of proj. drawings</p>
                  </div>
              </li>
              <li>
                  <div class ="secondary pagination-centered">
                    <p class = "mhead"> Paper Trail</p>
                     <p class = "icon center"><a href = "Marketing_page.html"><img src="assets/Trail.png" alt="Version Control"></a></p>
                    <p class = "subd"> Export comments with comments for QA/QC records</p>
                  </div>
              </li>
            </ul>
              <br>
              <br>
              <br>
            </div>
          </div>
    </div>

   <div class ="hero-unit2">
    <div class = "row pagination-centered">
      <div class = "pagination-centered center lheading">
              How it works
            <p class="subd">
              (Actually pretty simple)
            </p>
            </div>
      <img src="assets/how.png" alt="How it Works" width ="709" height = "498">
    </div>
  </div>
  <div class = "row">
    <br>
    <br></div>

  <div class = "row pagination-centered hero-unit3 shadow">
    <div class="large-6 columns hero-unit3">

    </div>
  </div>
  <div class = "row">
    <br>
    <br>
  </div>




<!--   </body>
</html> -->

