<p id="notice"><%= notice %></p>

<p>
  <b>Project:</b>
  <%= @document.project_id %>
</p>

<p>
  <b>Name:</b>
  <%= @document.name %>
</p>

<p>
  <b>Access link:</b>
  <%= @document.access_link %>
</p>
