<h4>Current Projects</h4>
<% @projects.each do |project| %>
  <div>
    <ul>
      <li><%= link_to project.name, project_path(project) %></li>
    </ul>
  </div>

<% end %>

<br />

<%= link_to 'New Project', new_project_path %>